<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input v-model="Word" placeholder="Skriv her">
        <button class="btn btn-outline-primary" v-on:click="Safe(Word)">Safe</button>
        <button class="btn btn-outline-success" v-on:click="Show()">Vis Mig!</button>
        <button class="btn btn-outline-danger" v-on:click="Clear()">Clear</button>
        {{Message}}
        <ol>
            <li v-for="word in Message">{{word}}</li>
        </ol>
        <table class="table table-dark">
           <tr v-for="(word, index) in Message">
               <td>{{index+1}}</td>
               <td>{{word}}</td>
           </tr>
        </table>
    </div>
    <script src="Javascript.js"></script>
</body>
</html>